@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark {
        --background: 0 0% 6%;
        --foreground: 0 0% 100%;

        --primary: 0 0% 10%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 100%;
        --secondary-foreground: 0 0% 10%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --caption: 0 0% 50%;

        --border: 0 0% 12%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1F1F1F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}